.idea
gae/projectlore/.idea/.name
gae/projectlore/.idea/encodings.xml
gae/projectlore/.idea/inspectionProfiles/profiles_settings.xml
gae/projectlore/.idea/libraries/Google_App_Engine_SDK.xml
gae/projectlore/.idea/misc.xml
gae/projectlore/.idea/modules.xml
gae/projectlore/.idea/projectlore.iml
gae/projectlore/.idea/scopes/scope_settings.xml
gae/projectlore/.idea/vcs.xml
gae/projectlore/.idea/workspace.xml